Django==4.2.7
joblib==1.2.0
jsonschema==4.17.3
Pillow==9.5.0
psycopg2-binary==2.9.9
pyarrow==12.0.0
pydeck==0.8.1b0
Pygments==2.15.1
Pympler==1.0.1
pyparsing==3.0.9
pypng==0.20220715.0
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2023.3
sqlparse==0.4.4
virtualenv==20.24.6
virtualenvwrapper-win==1.2.7
